*{
    padding: 0;
    margin: 0;
    font-family: Roboto;
}


/* this is nav bar css style. */
nav{
    background: linear-gradient(45deg,black,rgb(87, 84, 84));
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.logo img{
    width: 150px;
}

.menu{
    display: flex;
}

.menu ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu ul li{
    color: white;
    list-style: none;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 300;
}
/* banner image css style */

.banner{
    width: 100%;
    height: 100vh;
    background-image: url(./image/background.png), linear-gradient(45deg,rgb(31, 30, 30),rgb(43, 39, 39));
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner-text{
    text-align: left;
    color: white;
}

.banner-text h1{
    font-size: 56px;
}

.banner-text p{
    font-size: 17px;
    margin: 20px 0;
}

.primary-button{
    background-color: red;
    color: white;
    border: none;
    padding: 23px 18px;
    font-size: 19px;
    border-radius: 5px;
}

.banner-image img{
    width: 500px;
}
